@import "bootstrap";
#app{
  height: 100vh;
  background-color: #15202B;
}

body{
  --bs-body-color: rgb(230, 242, 255);
}

#equipment, .answer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem;
}

.nav{
  --bs-nav-link-color: #8899A6;
  --bs-nav-tabs-link-active-bg: #22303C;
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-border-color: #8899A6;
  background-color: #192734 ;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  & > ul{
    display: flex;
    margin: 0;
    padding: 0;

    & > li{
      list-style: none;
      margin: 0;
      padding: 0;
    }

  }
}
.nav-link{

  &:hover{
    color: #fff;
  }
  &:focus{
      color: #fff;
  }
}

a{
  text-decoration: none;
}

.nav-tabs{
  --bs-nav-tabs-border-color: #8899A6;
  position: relative;
}

.nav-item::marker{
  content: none;
}

.requirement {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.currency {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

.input-group{
  display: flex;
  text-align: center;
  max-height: 40px;
  height: 40px;
  width: auto;

  & > * {
    height: 100%;
  }

  & > label {
    width: 7em;
    text-align: center;
  }

  & > input {
    text-align: center;
    width: 3em;
  }

  & > button {
    border-color: #22303C ;
    color: #eeeef4 ;
    --bs-btn-active-bg: #8899A6;
  }

  & > button:hover {
    border-color: #8899A6 ;
    color: #eeeef4 ;
  }


}

.input-group-text{
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.input-group-sm > .form-control{
  color: #ccc;
  background-color: unset;
}

.list-group-item {
    border: none !important;
    background-color: #f8f9fa;
    padding-bottom: .7rem;
}

.list-group{
  flex-direction: column
}
.answer-img,.create{
  display: flex;
  flex-direction: row;
  align-items: center;

  & > img.list-group-item {
    max-height: 40px;
    height: auto;
    width: auto;
    padding: 3px;
  }
  & > label {
  width: calc(100% - 40px) ;
  }
}

.equipment_num {
  & > div {
    padding-left: 1rem;
  }
}

.inventory {
  padding-left: 1rem;
}

@mixin bs-contain {
  background-size: cover;
}

.Legendary {
  background-image: url("./Rarity_legendary_bg.png");
  @include bs-contain
}

.Epic {
  background-image: url("./Rarity_epic_bg.png");
  @include bs-contain
}

.Rare {
  background-image: url("./Rarity_rare_bg.png");
  @include bs-contain
}

.Uncommon {
  background-image: url("./Rarity_uncommon_bg.png");
  @include bs-contain
}

.Common {
  background-image: url("./Rarity_common_bg.png");
  @include bs-contain
}

.sidebar-arrow {
  background-image: url("icon/chevron_right.png");
  @include bs-contain;
    width: 20px;
}

h4,h5{
  padding-top: 0.5rem;
}

.tab_page_bg {
    //background-image: url("bg.jpg");
    background-color: #15202B;
    color: #eeeef4;

    * li, label, h4 {
      background-color: #15202B;
      color: #eeeef4;
    }
    .input-group > input,{
      color: #eeeef4;
      background-color: #15202B;
      border-color: #22303C;
    }
     .input-group > label {
       color: #eeeef4;
       border-color: #22303C;
     }
    .input-group > img {
      background-color: #192734 ;
      border-color: #22303C;

    }
  }

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #2c9c85 0%, #708ad4 99%);
  box-shadow: inset 10px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 50px;
}

.rightTab-container {
  float: right;
}

.leftTab-container {
  float: left;
}

.nav{
  justify-content: space-between;
}

.github-logo{

  > a {
    > img {
      width: 30px;
      height: 30px;
      margin: 0.3rem 1rem 0 1rem;
    }
  }
}

.container-fluid {
  width: calc(100%);
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;

  /* 其他樣式 */
}

.eggs {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 1rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

html{
  overflow: hidden;
}