@import "bootstrap";
#app{
  height: 100vh;
  background-color: #f8f9fa;
}

#equipment, .answer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 2rem;
}

.demo{
 height: 100vh;

}


.requirement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.currency {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

.input-group{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 40px;
  height: 40px;
  width: auto;

  & > * {
    height: 100%
  }

  & > input {
    text-align: center;
  }
}

.list-group-item {
    border: none !important;
    background-color: #f8f9fa;
}
.answer-img,.create{
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: thin;
  align-items: center;

  & > img.list-group-item {
    max-height: 40px;
    height: auto;
    width: auto;
    padding: 5px;
  }
  & > label {
  width: calc(100% - 40px) ;
  }
}

.equipment_num {
  & > div {
    padding-left: 1rem;
  }
}

.inventory {
  padding-left: 1rem;
}

@mixin bs-contain {
  background-size: cover;
}

.Legendary {
  background-image: url("./Rarity_legendary_bg.png");
  @include bs-contain
}

.Epic {
  background-image: url("./Rarity_epic_bg.png");
  @include bs-contain
}

.Rare {
  background-image: url("./Rarity_rare_bg.png");
  @include bs-contain
}

.Uncommon {
  background-image: url("./Rarity_uncommon_bg.png");
  @include bs-contain
}

.Common {
  background-image: url("./Rarity_common_bg.png");
  @include bs-contain
}

h4,h5{
  padding-top: 0.5rem;
}

.tab_page_bg {
    //background-image: url("bg.jpg");
    background-color: #f8f9fa;

    * li, label, h4 {
      background-color: #f8f9fa;
    }
  }

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 10px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 50px;
}

.rightTab-container {
  float: right;
}

.leftTab-container {
  float: left;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.nav{
  justify-content: space-between;
}

.github-logo{

  > a {
    > img {
      width: 30px;
      height: 30px;
      margin: 0.3rem 1rem 0 1rem;
    }
  }
}

.container-fluid {
  width: calc(100%);
  height: calc(100vh - 42px);
  overflow: hidden;
  /* 其他樣式 */
}

#sidebar {
  position: fixed;
  width: 250px;
  height: calc(100% - 41px);
  background-color: #0c1e35;
  /* 其他樣式 */
}

.eggs {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 1rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

html{
  overflow: hidden;
}