@import "bootstrap";
#app{
  height: 100vh;
  background-color: #f8f9fa;
}

#equipment, .answer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 2rem;
}


.requirement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.currency {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

.input-group{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 40px;
  height: 40px;
  width: auto;

  & > * {
    height: 100%
  }

  & > input {
    text-align: center;
  }
}

.list-group-item {
    border: none !important;
}
.answer-img,.create{
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: thin;
  align-items: center;

  & > img.list-group-item {
    max-height: 40px;
    height: auto;
    width: auto;
    padding: 5px;
  }
  & > label {
  width: calc(100% - 40px) ;
  }
}

.equipment_num {
  & > div {
    padding-left: 1rem;
  }
}

.inventory {
  padding-left: 1rem;
}

@mixin bs-contain {
  background-size: cover;
}

.Legendary {
  background-image: url("./Rarity_legendary_bg.png");
  @include bs-contain
}

.Epic {
  background-image: url("./Rarity_epic_bg.png");
  @include bs-contain
}

.Rare {
  background-image: url("./Rarity_rare_bg.png");
  @include bs-contain
}

.Uncommon {
  background-image: url("./Rarity_uncommon_bg.png");
  @include bs-contain
}

.Common {
  background-image: url("./Rarity_common_bg.png");
  @include bs-contain
}

.tab_page_bg {
    //background-image: url("bg.jpg");
    background-color: #f8f9fa;

    * li, label, h4 {
      background-color: #f8f9fa;
    }
  }